@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --rdp-bg-clr: white;
    --rdp-text-clr: black;
    --rdp-accent-clr: #1a1a1a;
    --rdp-secondary-clr: #949394;
    --rdp-soft-clr: #f2f2f2;
}

.rdp {
    font-family: 'Lato', sans-serif;
}

.rdp * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.rdp.picker-trigger {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: var(--rdp-bg-clr);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1.5px solid var(--rdp-soft-clr);
    cursor: pointer;
}

.rdp.picker-trigger-icon {
    width: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rdp.picker-trigger-icon img {
    width: 100%;
    height: auto;
}

.rdp.picker-trigger-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rdp.picker-select-text {
    color: var(--rdp-accent-clr);
    font-size: 13px;
    user-select: none;
}

.rdp.picker-date {
    color: var(--rdp-text-clr);
    font-size: 17px;
    font-weight: 800;
    user-select: none;
}

.rdp.picker-trigger-arrow {
    width: 23px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    transition: all 300ms ease;
    user-select: none;
}

.rdp.picker-trigger-arrow.open {
    transform: rotate(180deg);
    transition: all 300ms ease;
}

.rdp.picker-trigger-arrow img {
    width: 100%;
    height: auto;
}

.rdp.react-date-picker {
    width: 100%;
}

.rdp.date-picker-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 105%;
    left: 0;
    transform: translateY(-20px);
    background-color: var(--rdp-bg-clr);
    /* border: 1.5px solid var(--rdp-secondary-clr); */
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    /* width: 100%; */
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.093);
    cursor: auto;
    transition: all 300ms ease;
}

.rdp.date-picker-wrapper.open {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: auto;
    transition: all 300ms ease;

}

.rdp.calendar-day-title {
    /* padding: 8px 10px; */
    width: 40px;
    height: 36px;
    border-radius: 9px;
    background-color: var(--rdp-bg-clr);
    color: var(--rdp-secondary-clr);
    text-align: center;
    font-weight: 500;
    user-select: none;
}

.rdp.calendar-day {
    /* padding: 8px 10px; */
    width: 40px;
    height: 36px;
    border-radius: 9px;
    background-color: var(--rdp-bg-clr);
    transition: all 50ms ease;
    text-align: center;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.rdp.calendar-day.different-month {
    color: var(--rdp-secondary-clr);
}

.rdp.calendar-day.selected {
    background-color: var(--rdp-accent-clr);
    color: var(--rdp-bg-clr);
}

.rdp.calendar-day:not(.disabled,.selected):hover {
    background-color: var(--rdp-soft-clr);
    transition: all 50ms ease;
}

.rdp.calendar-day.disabled {
    color: var(--rdp-soft-clr);
    text-decoration: line-through;
    cursor: default;
}

.rdp.date-picker-buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.rdp.button {
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.rdp.primary-button {
    background-color: var(--rdp-accent-clr);
    color: var(--rdp-bg-clr);
    font-weight: 600;
}

.rdp.secondary-button {
    background-color: var(--rdp-bg-clr);
    color: var(--rdp-accent-clr);
    font-weight: 600;
    border: 1.5px solid var(--rdp-soft-clr);
}

.rdp.date-picker.table {
    width: fit-content;
    table-layout: fixed; 
}

.rdp.date-picker-calendar-wrapper {
    display: flex;
    overflow: hidden;
    width: 295p x;
}

.rdp.date-picker-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rdp.scroll-arrow {
    cursor: pointer;
    user-select: none;
}

.date-input {
    height: 30px;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    width: 120px;
    outline: none;
}